.form-container {
  width: 600px;
  border: 1px solid #95a0a7;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.form-title {
  font-size: 35px;
  font-weight: 400;
  color: #2a214f;
}
.input-group {
  margin-bottom: 20px;
}
.input-group label {
  display: block;
}
.input-group input {
  width: 415px;
  height: 55px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #95a0a7;
  font-size: 24px;
}
.form-submit {
  width: 415px;
  height: 55px;
  background-color: rgba(255, 153, 0, 0.3);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.form-link{
    color: #FF9900;
    text-decoration: none;
    cursor: pointer;
}